In [1]:

import pandas as pd
from pathlib import Path
import numpy as np 
from pypdf import PdfReader

# This function reads the csv file and returns the data as a pandas dataframe.
la_crime_df = pd.read_csv(Path('../resources/Crime_Data_from_2020_to_Present.csv'))

la_crime_df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,AO,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,IC,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,AA,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,IC,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,IC,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468

In [2]:
UCR_PDF_File = PdfReader(Path('../Philip/UCR-COMPSTAT062618.pdf'))
UCR_PDF_File

In [43]:
# getting a specific page from the pdf file
UCR_page1 = UCR_PDF_File.pages[0]

# extracting text from page
UCR_text = UCR_page1.extract_text()
print(UCR_text)
# Unable to use the results

 Part I Crimes = Violent Crimes + Property Crimes  U pdated 06/26/18  UCR VS COMPSTAT
----------------------------------------

UCR REPORTING â€“ Return A
(Based on date of reporting)

Part I â€“ Violent Crimes

HOMICIDE     110 (Homicide)
113 (Manslaughter)

RAPE    121 (Rape)
122 (Attempted Rape)
815 (Sexual Penetration w/ Foreign Object)
820 (Oral Copulation)
821 (Sodomy)

ROBBERY     210 (Robbery)
220 (Robbery - attempted)

AGG. ASSAULTS   230 (ADW)
231 (ADW against LAPD Police Officer)
235 (Child beating)
DV*  236 (Spousal beating)
250 (Shots Fired)
251 (Shots fired inhabited dwelling)
761 (Brandishing)
926 (Train Wrecking)


SIMPLE ASSAULT** 435 (Lynching)
(Not Incl. in Part I    436 (Lynching - attempted)
Violent Crime)  437 (Resisting Arrest)
622 (Battery on Firefighter)
     623 (Battery on Police Officer)
       624 (Battery - misdemeanor)
625 (Other Misd. Assault)
DV*  626 (Spousal/Cohab Abuse - Simple Assault)
      627 (Child Abuse - Simple Assault)
647 (Throwing substance at vehicle)
763 (Stalking)
928 (Threatening Phone Calls / Letters)
930 (Criminal Threats)

ASSAULTS = Agg. Assault (Incl. Domestic Viol) + Oth er Assault

Part I â€“ Property Crimes

BURGLARY   310 (Burglary)
320 (Burglary - attempted)

MVT (GTA)***   510 (Stolen Vehicle)
520 (Stolen Vehicle - attempted)
433 DWOC

BTFV      330 (Burg from Vehicle)
331 (Theft from vehicle - $950.01 & over)
410 (Burg from Vehicle - attempted)
420 (Theft from vehicle - $950 & under)
421 (Theft from vehicle attempted)

PERSONAL THFT  350 (Theft from person)
351 (Pursesnatch)
352 (Pickpocket)
353 (Drunkroll)
450 (Theft from person - attempted)
451 (Pursesnatch - attempted)
452 (Pickpocket - attempted)
453 (Drunkroll - attempted)

OTHER THEFT   341 (Theft - $950.01 & over)
343 (Shoplifting - $950.01 & over)
345 (Dishonest employee - grand theft)
440 (Theft - $950 & under)
441 (Theft - attempted)
442 (Shoplifting - $950 & under)
443 (Shoplifting - attempted)
444 (Dishonest employee - petty theft)
445 (Dishonest Employee - attempted)
470 (Till Tap - $950.01 & over)
471 (Till Tap - $950 & under)
472 (Till Tap - attempted)
473 (Theft from coin m/c - $950.01 & over)
474 (Theft from coin m/c - $950 & under)
475 (Theft from coin m/c - attempted)
480 (Bicycle - stolen)
485 (Bicycle - attempted stolen)
487 (Boat - stolen)
491 (Boat - attempted stolen)

  LARCENY = BTFV + PERS/OTH

* DV = Domestic Violence
**  Part II Simple Assaults are included in UCR onl y - Not in Compstat rpts.


 COMPSTAT REPORTING
(Based on date of occurrence)
Part I â€“ Violent Crimes

HOMICIDE    110 (Homicide)
113 (Manslaughter)

RAPE     121 (Rape)
122 (Attempted Rape)
815 (Sexual Penetration w/ Foreign Object)
820 (Oral Copulation)
821 (Sodomy)

ROBBERY    210 (Robbery)
220 (Robbery - attempted)

AGG. ASSAULTS   230 (ADW),
231 (ADW against LAPD Police Officer)
235 (Child beating)
DV*  236 (Spousal beating)
250 (Shots Fired)
251 (Shots fired inhabited dwelling)
761 (Brandishing)
926 (Train Wrecking)


SIMPLE ASSAULT**  Not included in Compstat Reports.













ASSAULTS = Agg. Assault (Incl. Domestic Viol)

Part I â€“ Property Crimes

BURGLARY    310 (Burglary),
320 (Burglary - attempted)

MVT (GTA)***    510 (Stolen Vehicle)
520 (Stolen Vehicle - attempted)
433 DWOC

BTFV     330 (Burg from Vehicle)
331 (Theft from vehicle - $950.01 & over)
410 (Burg from Vehicle - attempted)
420 (Theft from vehicle - $950 & under)
421 (Theft from vehicle attempted)

PERSONAL THFT  350 (Theft from person)
351 (Pursesnatch)
352 (Pickpocket)
353 (Drunkroll)
450 (Theft from person - attempted)
451 (Pursesnatch - attempted),
452 (Pickpocket - attempted)
453 (Drunkroll - attempted)

OTHER THEFT   341 (Theft - $950.01 & over)
343 (Shoplifting - $950.01 & over)
345 (Dishonest employee - grand theft)
440 (Theft - $950 & under)
441 (Theft - attempted)
442 (Shoplifting - $950 & under)
443 (Shoplifting - attempted)
444 (Dishonest employee - petty theft)
445 (Dishonest Employee - attempted)
470 (Till Tap - $950.01 & over)
471 (Till Tap - $950 & under)
472 (Till Tap - attempted)
473 (Theft from coin m/c - $950.01 & over)
474 (Theft from coin m/c - $950 & under)
475 (Theft from coin m/c - attempted)
480 (Bicycle - stolen)
485 (Bicycle - attempted stolen)
487 (Boat - stolen)
491 (Boat - attempted stolen)

  LARCENY = BTFV + PERS/OTH

*** Carjackings are included in with Robberies.
CC Codes 430, 431 & 433 Incl. in MVT until CC Hiera rchy is incorporated.

In [4]:
# Creating List of values to define types of crime. 
violent_crimes = [110, 113, 121, 122, 815, 820, 821, 210, 220, 230, 231, 235, 236, 250, 251, 761, 926, 435, 436, 437, 622, 623, 624, 625, 626, 627, 647, 763, 928, 930]

property_crimes = [310, 320, 510, 520, 433, 330, 331, 410, 420, 421, 350, 351,352, 353, 450, 451, 452, 453, 341, 343, 345, 440, 441, 442, 443, 444, 445, 470, 471, 472, 473, 474, 475, 480, 485, 487, 491]

# Defining a function to categorize crimes  
def crime_category(Crm_Cd):
    if Crm_Cd in violent_crimes:
        return 'violent'
    elif Crm_Cd in property_crimes:
        return 'property' 
    else:
        return 'other'
    
la_crime_df['Category'] = la_crime_df['Crm Cd'].apply(crime_category)

la_crime_df.head(5)

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,Category
0,10304468,01/08/2020 12:00:00 AM,01/08/2020 12:00:00 AM,2230,3,Southwest,377,2,624,BATTERY - SIMPLE ASSAULT,...,Adult Other,624.0,NaN,NaN,NaN,1100 W 39TH PL,NaN,34.0141,-118.2978,violent
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545,violent
2,200110444,04/14/2020 12:00:00 AM,02/13/2020 12:00:00 AM,1200,1,Central,155,2,845,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,...,Adult Arrest,845.0,NaN,NaN,NaN,200 E 6TH ST,NaN,34.0448,-118.2474,other
3,191501505,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,1730,15,N Hollywood,1543,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),...,Invest Cont,745.0,998.0,NaN,NaN,5400 CORTEEN PL,NaN,34.1685,-118.4019,other
4,191921269,01/01/2020 12:00:00 AM,01/01/2020 12:00:00 AM,415,19,Mission,1998,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,Invest Cont,740.0,NaN,NaN,NaN,14400 TITUS ST,NaN,34.2198,-118.4468,other

In [5]:
# Viewing all available columns 
la_crime_df.columns

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON', 'Category'],
      dtype='object')

In [6]:
# Viewing all available Vict Age values
la_crime_df['Vict Age'].unique()

array([ 36,  25,   0,  76,  31,  23,  29,  35,  41,  24,  34,  46,  66,
        40,  27,  62,  43,  71,  50,  19,  51,  33,  69,  39,  57,  78,
        52,  38,  55,  44,  18,  54,  22,  28,  42,  56,  67,  37,  60,
        61,  59,  32,  30,  45,  20,  15,  58,  47,  48,  26,  21,  64,
        75,  12,  49,  68,  14,  13,  10,  53,  74,  17,  65,  63,   8,
        16,  72,  70,   9,  90,  85,  81,  79,  94,  73,  11,  80,   5,
        82,   2,  77,  84,  88,  96,  99,   7,  86,  92,   3,  83,  87,
         6,  -1,  89,   4,  93,  98,  91,  95,  -2,  97, 120])

In [7]:
# Creating a filter for the Vict Age and ignoring 0's 
age_filter = (la_crime_df['Vict Age'] >= 1) & (la_crime_df['Vict Age'] <= 30)

In [8]:
# Counting all the time the age values repeats 
la_crime_df.loc[age_filter]['Vict Age'].value_counts()

Vict Age
30    17300
29    16486
28    16188
27    15597
26    15066
25    14828
24    13954
23    12415
22    12162
21    11380
20     9598
19     8001
18     4733
17     3397
16     3069
15     2698
14     2282
13     1907
12     1400
11      952
10      633
9       559
7       476
8       461
5       461
6       453
4       407
3       389
2       334
Name: count, dtype: int64

In [9]:
# Adding the age_filter to the df
la_crime_df_filtered = la_crime_df.loc[age_filter]

In [10]:
# Testing filtered data to validate results
la_crime_df_filtered[['Vict Age','Vict Sex','Category','Vict Descent','Crm Cd Desc','LOCATION', 'Premis Desc']].head(5)

,Vict Age,Vict Sex,Category,Vict Descent,Crm Cd Desc,LOCATION,Premis Desc
1,25,M,violent,H,BATTERY - SIMPLE ASSAULT,700 S HILL ST,SIDEWALK
5,25,F,violent,H,"RAPE, FORCIBLE",700 S BROADWAY,NIGHT CLUB (OPEN EVENINGS ONLY)
6,23,M,property,H,SHOPLIFTING - PETTY THEFT ($950 & UNDER),700 S FIGUEROA ST,DEPARTMENT STORE
8,23,M,property,B,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",700 BERNARD ST,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)"
10,29,M,property,A,BURGLARY FROM VEHICLE,15TH,STREET

In [11]:
# performing a groupby on the category
category_count = la_crime_df_filtered['Category'].value_counts()
category_count

Category
violent     82646
property    57629
other       47311
Name: count, dtype: int64

In [15]:
location = la_crime_df_filtered['Vict Sex'].value_counts()
location

Vict Sex
F    97776
M    83860
X     5903
H       30
Name: count, dtype: int64

In [16]:
# Testing 
la_crime_df_filtered['Vict Sex'].unique()

array(['F', 'M', 'X', nan, 'H', '-'], dtype=object)

In [24]:
# Dropping Vict Sex values [X, nan, H, '-']
dropped_sex_values = ['X','nan','H','-']
la_crime_df_filtered = la_crime_df_filtered[~la_crime_df_filtered['Vict Sex'].isin(dropped_sex_values)]
print(la_crime_df_filtered['Vict Sex'].unique())
la_crime_df_filtered['Vict Sex'].value_counts()

['M' 'F' nan]

Vict Sex
F    97776
M    83860
Name: count, dtype: int64

In [41]:
# Testing
la_crime_df_filtered['AREA NAME'].unique()

array(['Central', 'Mission', 'Harbor', 'West LA', 'Wilshire',
       'Hollenbeck', 'Newton', 'Southwest', 'Southeast', 'Van Nuys',
       'Rampart', 'Olympic', 'Hollywood', 'Devonshire', '77th Street',
       'Northeast', 'Pacific', 'West Valley', 'Foothill', 'Topanga',
       'N Hollywood'], dtype=object)

In [45]:
la_crime_df_filtered.groupby(['Vict Sex', 'AREA NAME']).size().reset_index

# agg({'AREA NAME':'sum', #summing the 'Amount' for each group
#                                                           'Vict Age':'count' # Counting the number of occurrence in each group
# }).reset_index()
la_crime_df_filtered

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON,Category
1,190101086,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,330,1,Central,163,2,624,BATTERY - SIMPLE ASSAULT,...,Invest Cont,624.0,NaN,NaN,NaN,700 S HILL ST,NaN,34.0459,-118.2545,violent
5,200100501,01/02/2020 12:00:00 AM,01/01/2020 12:00:00 AM,30,1,Central,163,1,121,"RAPE, FORCIBLE",...,Invest Cont,121.0,998.0,NaN,NaN,700 S BROADWAY,NaN,34.0452,-118.2534,violent
6,200100502,01/02/2020 12:00:00 AM,01/02/2020 12:00:00 AM,1315,1,Central,161,1,442,SHOPLIFTING - PETTY THEFT ($950 & UNDER),...,Invest Cont,442.0,998.0,NaN,NaN,700 S FIGUEROA ST,NaN,34.0483,-118.2631,property
8,200100507,01/04/2020 12:00:00 AM,01/04/2020 12:00:00 AM,200,1,Central,101,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",...,Invest Cont,341.0,998.0,NaN,NaN,700 BERNARD ST,NaN,34.0677,-118.2398,property
10,200100509,01/04/2020 12:00:00 AM,01/04/2020 12:00:00 AM,2200,1,Central,192,1,330,BURGLARY FROM VEHICLE,...,Invest Cont,330.0,NaN,NaN,NaN,15TH,OLIVE,34.0359,-118.2648,property
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
752903,230806871,03/03/2023 12:00:00 AM,03/02/2023 12:00:00 AM,620,8,West LA,889,2,354,THEFT OF IDENTITY,...,Invest Cont,354.0,NaN,NaN,NaN,2000 S HOLT AV,NaN,34.0412,-118.3814,other
752906,231510379,05/29/2023 12:00:00 AM,05/25/2023 12:00:00 AM,1100,15,N Hollywood,1548,2,662,"BUNCO, GRAND THEFT",...,Invest Cont,662.0,NaN,NaN,NaN,5300 DENNY AV,NaN,34.1667,-118.3643,other
752907,231604807,01/27/2023 12:00:00 AM,01/26/2023 12:00:00 AM,1800,16,Foothill,1663,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",...,Invest Cont,740.0,NaN,NaN,NaN,12500 BRANFORD ST,NaN,34.2466,-118.4054,other
752908,231606525,03/22/2023 12:00:00 AM,03/22/2023 12:00:00 AM,1000,16,Foothill,1602,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,Invest Cont,230.0,NaN,NaN,NaN,12800 FILMORE ST,NaN,34.2790,-118.4116,violent
752909,231210064,04/12/2023 12:00:00 AM,04/12/2023 12:00:00 AM,1630,12,77th Street,1239,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,Invest Cont,230.0,NaN,NaN,NaN,6100 S VERMONT AV,NaN,33.9841,-118.2915,violent